name: Build

on:
  push:
    tags:
      - 'v*'
      - '!*norel*'

jobs:
  prep-release:
    name: Prepare Release
    runs-on: ubuntu-latest

    steps:
      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: false
          name: c-wspp ${{ env.RELEASE_VERSION }}
          token: ${{ secrets.CWSPP_TOKEN }}

  build-win:
    strategy:
      matrix:
        sys:
          - { msys: ucrt64, env: ucrt-x86_64, win: win64 }

    name: Build Windows ${{matrix.sys.msys}}
    runs-on: windows-latest
    needs: prep-release

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys.msys}}
          update: true
          install: >-
            zip
            mingw-w64-${{ matrix.sys.env }}-gcc
            mingw-w64-${{ matrix.sys.env }}-cmake
            mingw-w64-${{ matrix.sys.env }}-openssl

      - name: Set Env
        run: |
          export RELEASE_VERSION="${GITHUB_REF#refs/*/}"
          export DIR_NAME="c-wspp_${{ matrix.sys.win }}"
          export ZIP_NAME="c-wspp_${RELEASE_VERSION}_${{ matrix.sys.win }}"

          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV
          echo "DIR_NAME=$DIR_NAME" >> $GITHUB_ENV
          echo "ZIP_NAME=$ZIP_NAME" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build c-wspp
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_POLICY_VERSION_MINIMUM=3.22
          ninja

      - name: Package
        run: |
          mkdir -p ${{ env.DIR_NAME }}
          cp build/c-wspp.dll ${{ env.DIR_NAME }}/c-wspp-${{ matrix.sys.win }}.dll
          cp LICENSE*.txt ${{ env.DIR_NAME }}/

      - name: Build ZIP package
        run: |
          zip -r ${{ env.ZIP_NAME }}.zip ${{ env.DIR_NAME }}/

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: false
          name: c-wspp ${{ env.RELEASE_VERSION }}
          token: ${{ secrets.CWSPP_TOKEN }}
          files: |
            ${{ env.ZIP_NAME }}.zip


  build-linux:
    strategy:
      matrix:
        os: [ ubuntu-22.04, ubuntu-24.04 ]
        arch: [ amd64 ]

    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: prep-release

    steps:
      - name: Set Env
        run: |
          export RELEASE_VERSION="${GITHUB_REF#refs/*/}"
          export DIR_NAME="c-wspp_${{ matrix.os }}-${{ matrix.arch }}"
          export ZIP_NAME="c-wspp_${RELEASE_VERSION}_${{ matrix.os }}-${{ matrix.arch }}"

          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV
          echo "DIR_NAME=$DIR_NAME" >> $GITHUB_ENV
          echo "ZIP_NAME=$ZIP_NAME" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Build Environment
        run: |
          sudo apt update -y
          sudo apt -y install build-essential libssl-dev cmake

      - name: Build c-wspp
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_POLICY_VERSION_MINIMUM=3.22
          make

      - name: Package
        run: |
          mkdir -p ${{ env.DIR_NAME }}
          cp build/c-wspp.so ${{ env.DIR_NAME }}/c-wspp-linux-${{ matrix.arch }}.so
          cp LICENSE*.txt ${{ env.DIR_NAME }}/

      - name: Build ZIP package
        run: |
          zip -r ${{ env.ZIP_NAME }}.zip ${{ env.DIR_NAME }}/

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: false
          name: c-wspp ${{ env.RELEASE_VERSION }}
          token: ${{ secrets.CWSPP_TOKEN }}
          files: |
            ${{ env.ZIP_NAME }}.zip


  build-mac:
    name: Build macOS
    runs-on: macos-15
    needs: prep-release

    steps:
      - name: Set Env
        run: |
          export RELEASE_VERSION="${GITHUB_REF#refs/*/}"
          export DIR_NAME="c-wspp_macos-universal"
          export ZIP_NAME="c-wspp_${RELEASE_VERSION}_macos-universal"

          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV
          echo "DIR_NAME=$DIR_NAME" >> $GITHUB_ENV
          echo "ZIP_NAME=$ZIP_NAME" >> $GITHUB_ENV

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup OpenSSL
        run: |
          zsh
          export ASSET_ID=$(curl -s -H "Authorization: token ${{ secrets.PRIVATE_DEP_TOKEN }}" -H "Accept: application/vnd.github+json" "https://api.github.com/repos/JKLeckr/openssl-builds/releases/latest" | jq -r '.assets[] | select(.name | endswith("macos-universal.zip")) | .id')
          curl -L -H "Authorization: token ${{ secrets.PRIVATE_DEP_TOKEN }}" -H "Accept: application/octet-stream" "https://api.github.com/repos/JKLeckr/openssl-builds/releases/assets/${ASSET_ID}" -o openssl.zip
          unzip openssl.zip

      - uses: lukka/get-cmake@latest

      - name: Build c-wspp
        run: |
          export OPENSSL_ROOT_DIR=$(pwd)/openssl-macos-universal
          mkdir build
          cd build
          cmake .. -DCMAKE_POLICY_VERSION_MINIMUM=3.22 -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"
          make

      - name: Package
        run: |
          mkdir -p ${{ env.DIR_NAME }}
          cp build/c-wspp.dylib ${{ env.DIR_NAME }}/c-wspp-macos-universal.dylib
          cp LICENSE*.txt ${{ env.DIR_NAME }}/

      - name: Build ZIP package
        run: |
          zip -r ${{ env.ZIP_NAME }}.zip ${{ env.DIR_NAME }}/

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: false
          name: c-wspp ${{ env.RELEASE_VERSION }}
          token: ${{ secrets.CWSPP_TOKEN }}
          files: |
            ${{ env.ZIP_NAME }}.zip
