name:  Check

on:
  push:
    paths:
      - "**.c"
      - "**.cpp"
      - "**.h"
      - "**.hpp"
      - "CMakeLists.txt"
      - "lib/asio"
      - "lib/websocketpp"
      - 'test/test.c'
      - '.github/workflows/check.yml'
  pull_request:
    paths:
      - "**.c"
      - "**.cpp"
      - "**.h"
      - "**.hpp"
      - "CMakeLists.txt"
      - "lib/asio"
      - "lib/websocketpp"
      - 'test/test.c'
      - '.github/workflows/check.yml'

jobs:
  test-ubuntu:
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        arch: [amd64]

    name: test-${{ matrix.os }} (${{ matrix.arch }})
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies (apt)
        run: |
          sudo apt update -y
          sudo apt -y install build-essential libssl-dev cmake

      - name: Build Debug
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_POLICY_VERSION_MINIMUM=3.22
          make

      - name: Run Test
        run: |
          cd build
          make check


  test-windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}
    
    strategy:
      matrix:
        include:
          - { sys: ucrt64,  env: ucrt-x86_64 }

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.sys}}
          update: true
          install: >-
            mingw-w64-${{matrix.env}}-gcc
            mingw-w64-${{matrix.env}}-cmake
            mingw-w64-${{matrix.env}}-openssl

      - name: Build Debug
        run: |
          mkdir build
          cd build
          cmake ..
          ninja

      - name: Run Test
        run: |
          cd build
          ninja check


  build-mac:
    name: test-macos (universal)
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Setup OpenSSL
        run: |
          export ASSET_ID=$(curl -s -H "Authorization: token ${{ secrets.PRIVATE_DEP_TOKEN }}" -H "Accept: application/vnd.github+json" "https://api.github.com/repos/JKLeckr/openssl-builds/releases/latest" | jq -r '.assets[] | select(.name | endswith(".zip")) | .id')
          curl -L -H "Authorization: token ${{ secrets.PRIVATE_DEP_TOKEN }}" -H "Accept: application/octet-stream" "https://api.github.com/repos/JKLeckr/openssl-builds/releases/assets/${ASSET_ID}" -o openssl.zip
          unzip openssl.zip

      - uses: lukka/get-cmake@latest
      
      - name: Build c-wspp
        run: |
          export OPENSSL_ROOT_DIR=$(pwd)/openssl-macos-universal
          mkdir build
          cd build
          cmake .. -DCMAKE_POLICY_VERSION_MINIMUM=3.22 -DCMAKE_OSX_ARCHITECTURES="x86_64;arm64"
          make
      
      - name: Run Test
        run: |
          cd build
          make check
